.App {
  text-align: center;
  padding: 20px;
}

.error-message {
  background-color: #D8D8D8;
  width: 100%;
  margin: 20px 0;
  padding: 15px 25px;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #ACACAC;
}
