.review {
  padding: 25px 25px;
  position: relative;
}
.review:first-child {
  padding-top: 45px;
}
.review::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  height: 1px;
  display: block;
  clear: both;
  position: absolute;
  bottom: 10px;
}
.review:last-child::after {
  content: none;
  border-bottom: none;
}

.review-description {
  font-size: 12px;
  margin: 7px 0 30px;
}

.review-marker {
  background-color: #E5E5E5;
  color: #000000;
  border-radius: 100px;
  text-align: center;
  padding: 15px;
  float: left;
  width: 50px;
  margin-right: 20px;
}
